@media (min-width: 1280px) and (max-width: 1500px) {
    main .row .card:nth-child(5n+1):not(:first-child) {
        display: none !important;
    }
}

@media (min-width: 1500px) and (max-width: 1920px) {
    main .row .card:nth-child(6n+1):not(:first-child) {
        display: none !important;
    }
}

main.movie-list .container { 
    padding-bottom: 30px;
}

main .row .card {
    margin-bottom: 0;
}