main.movies-detail .flex-row .card {
    min-width: 302px;
    width: 302px;
    border: 1px solid #a0a0a0;
}

main.movies-detail .flex-row .card .card-img {
    width: 300px;
    height: 450px;
}

main.movies-detail .information {
    margin-left: 30px;
}

main.movies-detail .information .info-part {
    /* font-weight: normal;
    font-size: 15px; */
    /* margin-left: 2px; */
}

main.movies-detail .information .info-part button {
    font-size: 14px;
}

main.movies-detail .information .info-part button sup {
    top: -3px
}

main.movies-detail .card .card-body {
    border-top: 1px solid #a0a0a0;
    padding: 6px 10px;
}

main.movies-detail .card .tagline {
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
}

main.movies-detail .information .overview {
    margin-top: 30px;
}

main.movies-detail .information .overview p {
    font-weight: normal;
    font-size: 16px;
    margin-left: 2px;
}