main.movies-detail {
    padding-top: 40px;
    padding-bottom: 40px;
}

main.movies-detail .flex-row .card {
    border: 1px solid #a0a0a0;
    border-radius: 10px;
    width: 302px;
    min-width: 302px;
    min-height: 486px;
    align-self: flex-start;
}

main.movies-detail .flex-row .card .card-img {
    width: 300px;
    height: 450px;
}

main.movies-detail .flex-row .card .card-img,
main.movies-detail .flex-row .card .card-img img {
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

main.movies-detail .information {
    margin-left: 30px;
}

main.movies-detail .information .info-part .btn-outline-secondary:first-child {
    border-radius: 6px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

main.movies-detail .information .info-part .btn-outline-secondary:last-child {
    border-radius: 6px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

main.movies-detail .information .info-part span {
    font-size: 14px;
}

main.movies-detail .information .info-part span sup {
    top: -3px
}

main.movies-detail .card .card-body {
    border-top: 1px solid #a0a0a0;
    padding: 6px 10px;
}

main.movies-detail .card .tagline {
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
}

main.movies-detail .information .action {
    margin-top: 30px;
}

main.movies-detail .information .action .btn-group a.btn-outline-secondary:first-child {
    border-radius: 6px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

main.movies-detail .information .action .btn-group a.btn-outline-secondary:last-child {
    border-radius: 6px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

main.movies-detail .information .action a {
    padding: 10px 20px;
}

main.movies-detail .information .action a>span {
    font-size: 16px;
    /* padding: 10px; */
}

main.movies-detail .information .overview {
    margin-top: 30px;
}

main.movies-detail .information .overview p {
    font-weight: normal;
    font-size: 16px;
    margin-left: 2px;
}

main.movies-detail .information .others {
    margin-top: 25px;
}

main.movies-detail .information .others>div {
    margin-bottom: 20px;
}

main.movies-detail .information .others h5 {
    margin-bottom: 2px;
}

main.movies-detail .information .others p {
    font-weight: normal;
    font-size: 16px;
}

.top-cast {
    margin-top: 30px;
    margin-bottom: 30px;
}

.top-cast .container>.row.p-2 {
    margin-left: -7px;
    margin-right: -7px;
}

.top-cast .row .card {
    margin: 10px 12.78px;
    border: 1px solid #a0a0a0;
    padding: 0;
    border-radius: 10px;
    width: 140px;
}

.top-cast .row .card:first-child {
    margin-left: 0;
}

.top-cast .row .card:last-child {
    margin-right: 0;
}

@media (min-width: 800px) and (max-width: 1279px) {
    .top-cast .row .card {
        margin: 10px 23.1px;
    }

    .top-cast .row .card:nth-child(4n+1) {
        margin-left: 0;
    }

    .top-cast .row .card:nth-child(4n) {
        margin-right: 0;
    }
}

@media (min-width: 1280px) and (max-width: 1500px) {
    .top-cast .row .card {
        margin: 10px 11.58px;
    }

    .top-cast .row .card:nth-child(7n+1) {
        margin-left: 0;
    }
    
    .top-cast .row .card:nth-child(7n+1):not(:first-child) {
        display: none !important;
    }

    .top-cast .row .card:nth-child(7n) {
        margin-right: 0;
    }
}

@media (min-width: 1500px) and (max-width: 1920px) {
    .top-cast .row .card {
        margin: 10px 12.78px;
    }

    .top-cast .row .card:nth-child(8n+1) {
        margin-left: 0;
    }

    .top-cast .row .card:nth-child(8n+1):not(:first-child) {
        display: none !important;
    }

    .top-cast .row .card:nth-child(8n) {
        margin-right: 0;
    }
}

.top-cast .row .card .card-img,
.top-cast .row .card .card-img img,
.top-cast .row .card .card-img svg {
    width: 138px;
    height: 175px;
}

.top-cast .row .card .card-img,
.top-cast .row .card .card-img-top {
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.top-cast .row .card .card-body {
    border-top: 1px solid #a0a0a0;
    padding: 5px 10px;
}

.top-cast .row .card .card-title {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 0;
}

.top-cast .row .card .card-title a {
    color: rgb(33, 37, 41);
    text-decoration: none;
}

.top-cast .row .card .card-title a:hover {
    text-decoration: underline;
}

.top-cast .row .card .card-text {
    font-size: 14px;
    font-weight: normal;
}