@media (min-width: 800px) and (max-width: 1279px) {
    main.movie-list {
        padding-bottom: 39.7px;
    }
}

@media (min-width: 1280px) and (max-width: 1500px) {
    main.movie-list {
        padding-bottom: 27.38px;;
    }
}

@media (min-width: 1500px) and (max-width: 1920px) {
    main.movie-list {
        padding-bottom: 21.89px;
    }
}