* {
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-feature-settings: normal;
    font-size: 14px;
    font-variation-settings: normal;
    font-weight: 600;
    -webkit-font-smoothing: antialiased;
}

body {
    min-height: 75rem;
    padding-top: 4.5rem;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}