.page-block {
    padding-top: 0px;    
}

main.movies-detail {
    padding-top: 40px;
    padding-bottom: 40px;
}

main.movies-detail .flex-row .card {
    border: 1px solid #a0a0a0;
    border-radius: 10px;
    width: 302px;
    min-width: 302px;
    min-height: 486px;
    align-self: flex-start;
}

main.movies-detail .flex-row .card .card-img {
    width: 300px;
    height: 450px;
}

main.movies-detail .flex-row .card .card-img,
main.movies-detail .flex-row .card .card-img img {
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

main.movies-detail .information {
    margin-left: 30px;
}

main.movies-detail .information .info-part .btn-outline-secondary:first-child {
    border-radius: 6px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

main.movies-detail .information .info-part .btn-outline-secondary:last-child {
    border-radius: 6px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

main.movies-detail .information .info-part span {
    font-size: 14px;
}

main.movies-detail .information .info-part span sup {
    top: -3px
}

main.movies-detail .card .card-body {
    border-top: 1px solid #a0a0a0;
    padding: 6px 10px;
}

main.movies-detail .card .tagline {
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
}

main.movies-detail .information .action {
    margin-top: 30px;
}

main.movies-detail .information .action .btn-group a.btn-outline-secondary:first-child {
    border-radius: 6px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

main.movies-detail .information .action .btn-group a.btn-outline-secondary:last-child {
    border-radius: 6px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

main.movies-detail .information .action a {
    padding: 10px 20px;
}

main.movies-detail .information .action a>span {
    font-size: 16px;
    /* padding: 10px; */
}

main.movies-detail .information .overview {
    margin-top: 30px;
}

main.movies-detail .information .overview p {
    font-weight: normal;
    font-size: 16px;
    margin-left: 2px;
}

main.movies-detail .information .others {
    margin-top: 25px;
}

main.movies-detail .information .others>div {
    margin-bottom: 20px;
}

main.movies-detail .information .others h5 {
    margin-bottom: 2px;
}

main.movies-detail .information .others p {
    font-weight: normal;
    font-size: 16px;
}

@media screen and (min-width: 1280px) and (max-width: 1399px) {
    .peoples-list .row .card:nth-child(7n+1):not(:first-child) {
        display: none !important;
    }
    
    .movies-list .row .card:nth-child(5n+1):not(:first-child) {
        display: none !important;
    }
}

@media screen and (min-width: 1400px) {
    .peoples-list .row .card:nth-child(8n+1):not(:first-child) {
        display: none !important;
    }
    
    .movies-list .row .card:nth-child(6n+1):not(:first-child) {
        display: none !important;
    }
}